.weather-filter {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    input {
        width: 250px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #2d2d2d;
        border: none;
        border: 1px solid rgba(128, 128, 128, 0.384);
        border-radius: 20px;
        padding: 10px;
        padding-inline-start: 15px;
        

        // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
}