 * {
     box-sizing: border-box;
 }

 body {
     background-image: url(./assets/imgs/vecteezy_beautiful-sky-background-with-clouds_.jpg);
     margin: 0;
 }

 html {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 h1,h2,h3,h4,h5,h6 {
     margin :0;
     padding :0;
 }

 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 img {
     width: 100%
 }

 .main-content {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
     >* {
         grid-column: 2/3;
     }

     @media (max-width:450px) {
        grid-template-columns: 50px 1fr 50px;
     }
 }

 .main {
    height: 90vh
 }

 li.selected {
     text-decoration: underline;
 }